RESEND_API_KEY=
RESEND_FROM_EMAIL=no-reply@updates.tektonics.africa
RESEND_TO_EMAIL=info@tektonics.africa
RESEND_FROM_NAME="Tektonics Website"
RESEND_SUBJECT_PREFIX="Tektonics Website Inquiry"
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x4AAAAAAEFP24TWJG3QirWV
TURNSTILE_SECRET=
